<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mole.health.mapper.AdminOperationLogMapper">

    <resultMap id="BaseResultMap" type="com.mole.health.pojo.AdminOperationLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="admin_id" column="admin_id" jdbcType="INTEGER"/>
            <result property="operation" column="operation" jdbcType="VARCHAR"/>
            <result property="timestamp" column="timestamp" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,admin_id,operation,
        timestamp
    </sql>
</mapper>
