<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mole.health.mapper.HealthDataMapper">

    <resultMap id="BaseResultMap" type="com.mole.health.pojo.HealthData">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="height" column="height" jdbcType="FLOAT"/>
            <result property="weight" column="weight" jdbcType="FLOAT"/>
            <result property="heart_rate" column="heart_rate" jdbcType="INTEGER"/>
            <result property="blood_pressure" column="blood_pressure" jdbcType="VARCHAR"/>
            <result property="updated_at" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,height,
        weight,heart_rate,blood_pressure,
        updated_at
    </sql>
</mapper>
